/* globals.css */

/* Tailwind base and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the "Orbitron" font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300&display=swap');

/* Custom global styles here */
button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1e40af; /* Darker blue */
}

button:focus {
  outline: 2px solid #2563eb; /* Adds a focus indicator for accessibility */
}

button:active {
  background-color: #1e3a8a; /* Even darker blue */
}

/* Keyframe animation for fading in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for scale-up animation */
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* General Style for Name */
.name-title,
.name-subtitle {
  font-family: 'KIMM_Bold'; /* Space-themed font */
  text-align: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
  margin-top: 0;
  margin-bottom: 1rem; /* Increase spacing between title and subtitle */
  transition: color 0.5s ease, text-shadow 0.5s ease, opacity 0.5s ease;
  color: #cfcfcf; /* Default color */
  pointer-events: none;
  user-select: none;
}

/* Adjust font sizes */
.name-title {
  font-size: 2.5rem; /* Main title font size */
  margin-bottom: 0.1rem; /* Increase space below the title */
  pointer-events: none;
  user-select: none;
}

.name-subtitle {
  font-size: 1.2rem; /* Smaller subtitle font size */
  animation: fadeIn 5s ease-in-out, scaleUp 5s infinite alternate;
  transition: color 0.5s ease, text-shadow 0.5s ease, opacity 0.5s ease;
  margin-bottom: 2rem; /* Increase space between the subtitle and links */
  pointer-events: none;
  user-select: none;
}

/* Name Container */
.name-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Keyframe animation for fading in with smooth movement */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
  
/* Styling for links */
.links {
  display: flex;
  position: absolute;
  bottom: 5%; /* Adjust bottom value if needed */
  left: 50%;
  transform: translateX(-50%); /* Ensure the links are centered horizontally */
  justify-content: center;
  gap: 2.5rem; /* Space between links */
  user-select: none;
  text-align: center; /* Add this for centering text in case links have different sizes */
  width: auto; /* Ensure the width adjusts to the content */
}


/* Styling for links */
.link-item {
  font-family: 'KIMM_Bold';
  font-weight: 300;
  font-size: 0.9rem;
  text-decoration: none;
  opacity: 0; /* Start hidden */
  transform: translateY(20px); /* Start with a downward offset */
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.link-item.visible {
  opacity: 1;
  transform: translateY(0);
}


.link-item:hover {
  color: #ffffff; /* Lighten color on hover */
  text-shadow: 0 0 20px rgba(255, 255, 255, 1.8);
  transform: scale(1.15);
}

/* Animation delays for each link */
.link-item:nth-child(1) {
  transition-delay: 1s; /* Delay for About link */
}

.link-item:nth-child(2) {
  transition-delay: 1.5s; /* Delay for Contact link */
}

.link-item:nth-child(3) {
  transition-delay: 2s; /* Delay for Projects link */
}